@import "tailwindcss";

@theme {
  --font-family-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;

  --color-ocean-50: #d6f4f1;
  --color-ocean-200: #8de1e2;
  --color-ocean-400: #44becf;
  --color-ocean-500: #34b0b8;
  --color-ocean-600: #279f9f;
  --color-ocean-700: #1b857e;
  --color-ocean-900: #11685d;
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-ocean-900);
  background-color: var(--color-ocean-50);
}
