@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "EB Garamond", ui-serif, Georgia, serif;

  --color-ocean-50: #d6f4f1;
  --color-ocean-200: #8de1e2;
  --color-ocean-400: #44becf;
  --color-ocean-500: #34b0b8;
  --color-ocean-600: #279f9f;
  --color-ocean-700: #1b857e;
  --color-ocean-900: #11685d;
}

@keyframes border-pulse {
  0%,
  100% {
    border-color: rgb(229 231 235); /* gray-200 */
  }
  50% {
    border-color: rgb(156 163 175); /* gray-400 */
  }
}

body {
  font-family: var(--font-sans);
  color: var(--color-ocean-900);
  background-color: var(--color-white);
}
